---
import MainLayout from "@/layouts/MainLayout.astro";
import { Button } from "@/components/ui/button";
---

<MainLayout content={{ title: "404" }}>
  <div class="h-[calc(100svh-3.5rem)] flex flex-col items-center justify-center gap-6">
    <h1 class="text-center text-balance text-3xl font-bold text-foreground">This is not the web page you are looking for.</h1>
    <Button variant="outline">
      <a href="/">Back to Home</a>
    </Button>
  </div>
</MainLayout>
