---
import { ModeToggle } from "@/components/ModeToggle";
import { HamburgerMenu } from "@/components/HamburgerMenu"

const links = [
  { href: "/", label: "Home" },
  { href: "/blog/", label: "Blog" },
  { href: "/resume/", label: "Resume" },
];
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<header
  class="sticky top-0 z-50 w-full border-b border-border bg-background/97 sm:backdrop-blur sm:supports-backdrop-filter:bg-background/60 supports-backdrop-filter:bg-background/97"
>
  <nav class="mx-auto flex h-14 max-w-5xl items-center justify-between px-4">
    <a href="/" class="text-xl font-semibold text-foreground">Andrew Wolf</a>
    <ul class="items-center gap-6 hidden sm:flex">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class={`text-md font-medium transition-colors ${
                currentPath === link.href.slice(1)
                  ? "text-foreground"
                  : "text-muted-foreground hover:text-foreground"
              }`}
            >
              {link.label}
            </a>
          </li>
        ))
      }
      <li>
        <ModeToggle client:load />
      </li>
    </ul>
    <HamburgerMenu links={links} client:load />
  </nav>
</header>
